@page
@using Miro.Helpers
@using Microsoft.EntityFrameworkCore
@using Miro.Models
@using miro.Pages.Shared
@model Miro.Pages.CheckoutModel

<section class="bg-light py-5">
<div class="container">
<div class="row">
<div class="col-xl-8 col-lg-8 mb-4">
  <div class="card mb-4 card-registration card-registration-2">
    <div class="p-4 d-flex justify-content-between">
      <div class="">
        <h5>حساب دارید؟</h5>
        <p class="mb-0 text-wrap ">با وارد شدن به حسابتان، مشخصات خودکار پر می‌شوند.</p>
      </div>
      <div class="d-flex align-items-center justify-content-center flex-column flex-md-row">
        <a href="#" class="btn btn-outline-primary me-0 me-md-2 mb-2 mb-md-0 w-100">ثبت نام</a>
        <a href="#" class="btn btn-primary shadow-0 text-nowrap w-100">ورود</a>
      </div>
    </div>
  </div>

  <!-- Checkout -->
  <form method="post" asp-page-handler="submitorder">
    <div class="card mb-4 card-registration card-registration-2">
      <!-- START:Hidden Cart Options -->
      @for (var i = 0; i < Model.Cart.Count; i++)
      {
        <input type="hidden" asp-for="Order.Items[i].Id" value="@Model.Cart[i].Id"/>
        <input type="hidden" asp-for="Order.Items[i].Name" value="@Model.Cart[i].Name"/>
        <input type="hidden" asp-for="Order.Items[i].Price" value="@Model.Cart[i].Price"/>
        <input type="hidden" asp-for="Order.Items[i].Quantity" value="@Model.Cart[i].Quantity"/>
      }
      <!-- END:Hidden Cart Options-->
      <div class="p-4">
        <div class="alert alert-danger">
          دقت شود در صورت پرداخت ناشناس امکان رهگیری مرحله ای مرسوله وجود ندارد.
        </div>
        <h5 class="card-title mb-3">صفحه پرداخت ناشناس</h5>
        <div class="row">
          <div class="col-6 mb-3">
            <p class="mb-0">نام</p>
            <div class="form-outline">
              <input type="text" id="typeText" name="Order.CustomerName" class="form-control"/>
            </div>
          </div>

          <div class="col-6 mb-3">
            <p class="mb-0">نام خانوادگی</p>
            <div class="form-outline">
              <input type="text" id="typeText" name="Order.CustomerLastName" class="form-control"/>
            </div>
          </div>

          <div class="col-6 mb-3">
            <p class="mb-0">موبایل</p>
            <div class="form-outline">
              <input type="tel" id="typePhone" value="+98 " name="Order.CustomerMobile" class="form-control"/>
            </div>
          </div>

          <div class="col-6 mb-3">
            <p class="mb-0">ایمیل</p>
            <div class="form-outline">
              <input type="email" id="typeEmail" placeholder="example@gmail.com" name="Order.CustomerEmail" class="form-control"/>
            </div>
          </div>
        </div>

        <div class="form-check">
          <input class="form-check-input" name="Order.NewsUpdate" type="checkbox" value="" id="flexCheckDefault"/>
          <label class="form-check-label" for="flexCheckDefault">خبر های جدید را به من بده</label>
        </div>

        <hr class="my-4"/>

        <h5 class="card-title mb-3">اطلاعات ارسال</h5>

        <div class="row mb-3">
          <div class="col-lg-4 mb-3">
            <!-- Default checked radio -->
            <div class="form-check h-100 border rounded-3">
              <div class="p-3">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked/>
                <label class="form-check-label" for="flexRadioDefault1">
                  پیشتاز <br/>
                  <small class="text-muted">سریع</small>
                </label>
              </div>
            </div>
          </div>
          <div class="col-lg-4 mb-3">
            <!-- Default radio -->
            <div class="form-check h-100 border rounded-3">
              <div class="p-3">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2"/>
                <label class="form-check-label" for="flexRadioDefault2">
                  پست معمولی <br/>
                  <small class="text-muted">مدت نامعلوم </small>
                </label>
              </div>
            </div>
          </div>
          <div class="col-lg-4 mb-3">
            <!-- Default radio -->
            <div class="form-check h-100 border rounded-3">
              <div class="p-3">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3"/>
                <label class="form-check-label" for="flexRadioDefault3">
                  دریافت در محل <br/>
                  <small class="text-muted">به محل بیایید </small>
                </label>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-8 mb-3">
            <p class="mb-0">آدرس</p>
            <div class="form-outline">
              <input type="text" id="typeText" asp-for="Order.CustomerAddress" placeholder="ادرس مشتری" class="form-control"/>
            </div>
          </div>

          <div class="col-sm-4 mb-3">
            <p class="mb-0">شماره پلاک</p>
            <div class="form-outline">
              <input type="text" id="typeText" name="Order.HouseNumber" placeholder="در صورت نیاز پیام مورد نظر گذاشته شود" class="form-control"/>
            </div>
          </div>

          <div class="col-sm-4 mb-3">
            <p class="mb-0">استان</p>
            @Html.DropDownListFor(m => m.Order.CustomerProvince, new SelectList(Model.Provinces, "id", "name"), "-- انتخاب استان --", new { @class = "form-select" })

          </div>

          <div class="col-sm-4 mb-3">
            <p class="mb-0">City</p>
            <select asp-for="Order.CustomerCity" class="form-select">
              <option value="">-- انتخاب شهر --</option>
            </select>
          </div>

          <div class="col-sm-4 col-6 mb-3">
            <p class="mb-0">کد پستی</p>
            <div class="form-outline">
              <input type="text" asp-for="Order.PostalCode" id="typeText" class="form-control"/>
            </div>
          </div>
        </div>

        <div class="form-check mb-3">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault1"/>
          <label class="form-check-label" for="flexCheckDefault1">این آدرس را ذخیره کن</label>
        </div>

        <div class="mb-3">
          <p class="mb-0">توضیحاتی برای فروشنده</p>
          <div class="form-outline">
            <textarea class="form-control" id="textAreaExample1" rows="2"></textarea>
          </div>
        </div>

        <div class="float-end">
          <button class="btn btn-light border">انصراف</button>
          <button type="submit" class="btn btn-success shadow-0 border">ادامه</button>
        </div>
      </div>
    </div>
  </form>
  <!-- Checkout -->
</div>
<div class="col-xl-4 col-lg-4 d-flex justify-content-center justify-content-lg-end">
  <div class="ms-lg-4 mt-4 mt-lg-0" style="max-width: 320px;">
    <h6 class="mb-3">در نگاهی سریع</h6>
    <div class="d-flex justify-content-between">
      <p class="mb-2">مجموع:</p>
      <p class="mb-2">@Model.CartTotalString</p>
    </div>
    @* <div class="d-flex justify-content-between"> *@
    @*   <p class="mb-2">تخفیف:</p> *@
    @*   <p class="mb-2 text-danger">- $60.00</p> *@
    @* </div> *@
    @* <div class="d-flex justify-content-between"> *@
    @*   <p class="mb-2">هرینه ارسال:</p> *@
    @*   <p class="mb-2">+ $14.00</p> *@
    @* </div> *@
    @* <hr /> *@
    @* <div class="d-flex justify-content-between"> *@
    @*   <p class="mb-2">مجموع بعد از تخفیف:</p> *@
    @*   <p class="mb-2 fw-bold">$149.90</p> *@
    @* </div> *@

    @* <div class="input-group mt-3 mb-4"> *@
    @*   <input type="text" class="form-control border" name="" placeholder="کد تخفیف" /> *@
    @*   <button class="btn btn-light text-primary border">اعمال</button> *@
    @* </div> *@

    <hr />
    <h6 class="text-dark my-4">جزئیات سبد خرید</h6>

    @foreach (var product in Model.Cart)
    {
      <div class="d-flex align-items-center mb-4">
        <div class="me-3 position-relative">
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill badge-secondary">
            @product.Quantity
          </span>
          <img src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/7.webp" style="height: 96px; width: 96px;" class="img-sm rounded border" />
        </div>
        <div class="">
          <a href="#" class="nav-link">
            @product.Name
          </a>
          <div class="price text-muted">مجموع: @(CartHelper.FormatPrice(product.Price*product.Quantity))</div>
        </div>
      </div>
    }
  </div>
</div>
</div>
</div>
</section>

@section Scripts
{
  <script type="text/javascript">
    $(document).ready(function () {
        $('#Order_CustomerProvince').change(function() {
            var provinceId = $(this).val();
            console.log(provinceId);
            $("#Order_CustomerCity").empty();
            $('#Order_CustomerCity').append("<option value=''>-- انتخاب شهر --</option>");
            $.getJSON(`?handler=CitiesForProvince&provinceId=${provinceId}`, (data) => {
                $.each(data, function (i, item) {
                  $('#Order_CustomerCity').append(`<option value="${item.id}">${item.name}</option>`)
                  });
            });
          });
      });
  </script>
}
