@page "/prices"
@model Miro.Pages.PricesModel
@inject MiroDbContext DbContext
@{
    ViewData["title"] = "قیمت ها";
}

@section Styles {
    
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap5.min.css">
    <style>
    .off-top {
        position: absolute;
        left: 50%;
        top: 0;
        transform: translate(-50%, 50%);
    }
    
    </style>
}

<form method="get">
    <div class="col-md-3 input-group mb-3">
        <input type="text" name="searchTerm" class="form-control" placeholder="جستجو در بین @(Model.Products.Count) محصول و خدمت...">
    
    <button type="submit" class="btn btn-primary">جستجو</button>
    </div>
</form>

<div class="row row-cols-1 row-cols-md-2 g-4">
    @foreach (var product in Model.Products)
    {
    <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="card p-2">
        <img src="https://greendroprecycling.com/wp-content/uploads/2017/04/GreenDrop_Station_Aluminum_Can_Pepsi.jpg" alt="#" />
        <div class="card-body">
            <h3 class="card-title">
            @product.Name
            </h3>
            <div class="card-content">
                @product.Description
            </div>
            <p class="text text-primary ">@product.PriceFormatted</p>
            <form method="post" asp-page="cart" asp-page-handler="addtocart">
                <input type="hidden" name="id" value="@product.ID" />
                <button type="submit" @(product.InStock ? null : "disabled") class="btn btn-@(product.InStock ? "primary" : "danger text-white")">
                <i class="fa fa-add"></i> اضافه به سبد خرید
                </button>
            
            </form>
        </div>
        </div>
    </div>
    }
</div>
<nav aria-label="Page navigation">
    <ul class="pagination">
        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            <li class="page-item @(i == Model.PageIndex ? "active" : "")">
                <a class="page-link" href="?pageIndex=@i@(Model.SearchTerm != null ? "&searchTerm=" + Model.SearchTerm : "")">@i</a>
            </li>
        }
    </ul>
</nav>

@section Scripts {

    <!-- JavaScript -->
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap5.min.js"></script>

    <script>
        $(document).ready(function() {
            $('#pricesTable').DataTable( {
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/1.10.24/i18n/Persian.json"
                }
            });
        });
    </script>

}